/*Fuente Nato*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
/*variables*/
/*Mixin tamano y backgroun de los icons*/
/*Adaptacion a dispositivos*/
/*Globales*/
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
  overflow-x: hidden;
  background: #000;
  outline: none;
  scroll-behavior: smooth;
}

/*Header*/
.header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
}

.contenido {
  width: 100%;
  padding: 20px 0 10px 0;
}

@media screen and (max-width: 767px) {
  .contenido {
    height: 100vh;
  }
}

.contenido .navegacion {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .contenido .navegacion {
    width: 100%;
    background: #000;
    position: fixed;
    justify-content: space-between;
    padding: 15px;
    margin-top: -20px;
  }
}

.contenido .navegacion .logo {
  width: 100px;
  height: 100px;
  background-image: url(../assets/icons/rocklag-logotipo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .contenido .navegacion .logo {
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contenido .navegacion .logo {
    width: 100px;
    height: 100px;
  }
}

.contenido .navegacion .enlaces {
  display: flex;
  margin-top: 40px;
}

.contenido .navegacion .enlaces a {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin-right: 30px;
  transition: all .4s ease;
}

.contenido .navegacion .enlaces a:hover {
  font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contenido .navegacion .enlaces a {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .contenido .navegacion .enlaces a {
    margin: 50px 30px 0 0;
    line-height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .contenido .navegacion .enlaces {
    position: fixed;
    width: 100vw;
    height: calc(100% -65px);
    background: #000;
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
  }
}

.contenido .navegacion .menMov {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 767px) {
  .contenido .navegacion .menMov {
    display: block;
  }
}

.contenido .navegacion ul.show {
  top: 50px;
  width: 100%;
  left: 0;
  height: 100vh;
}

.contenido .pieHeader {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .contenido .pieHeader {
    text-align: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contenido .pieHeader {
    justify-content: space-around;
    margin-top: 50rem;
  }
}

.contenido .pieHeader .correo {
  margin-right: 7rem;
}

@media screen and (max-width: 767px) {
  .contenido .pieHeader .correo {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contenido .pieHeader .correo {
    margin-right: 0;
  }
}

.contenido .pieHeader .telefono {
  margin-right: 7rem;
}

@media screen and (max-width: 767px) {
  .contenido .pieHeader .telefono {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contenido .pieHeader .telefono {
    margin-right: 0;
  }
}

.contenido .pieHeader .correo a,
.contenido .pieHeader .telefono a {
  display: flex;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
}

@media screen and (max-width: 767px) {
  .contenido .pieHeader .correo a,
  .contenido .pieHeader .telefono a {
    font-size: 15px;
  }
}

.contenido .pieHeader .correo a .iconCorreo,
.contenido .pieHeader .telefono a .iconCorreo {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 19px 10px 0 0;
  background-image: url(../assets/icons/mail.png);
}

@media screen and (max-width: 767px) {
  .contenido .pieHeader .correo a .iconCorreo,
  .contenido .pieHeader .telefono a .iconCorreo {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .contenido .pieHeader .correo a .iconCorreo,
  .contenido .pieHeader .telefono a .iconCorreo {
    margin: 15px 10px 00;
  }
}

.contenido .pieHeader .correo a .iconTel,
.contenido .pieHeader .telefono a .iconTel {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 19px 10px 0 0;
  background-image: url(../assets/icons/phone.png);
}

@media screen and (max-width: 767px) {
  .contenido .pieHeader .correo a .iconTel,
  .contenido .pieHeader .telefono a .iconTel {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .contenido .pieHeader .correo a .iconTel,
  .contenido .pieHeader .telefono a .iconTel {
    margin: 15px 10px 00;
  }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video video {
  min-width: 100%;
  min-height: 100%;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  z-index: 1;
  opacity: .50;
}

.contenido {
  z-index: 2;
}

/*Nosotros*/
.nosotros {
  width: 100%;
  height: auto;
  background: #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}

@media screen and (max-width: 767px) {
  .nosotros {
    flex-direction: column-reverse;
    padding: 10px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nosotros {
    flex-direction: column-reverse;
    padding: 10px 0;
  }
}

.nosotros .imgContenedor {
  width: 100%;
  display: flex;
}

@media screen and (max-width: 767px) {
  .nosotros .imgContenedor {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}

.nosotros .txtContenedor {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .nosotros .txtContenedor {
    width: 100%;
    flex-direction: column;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nosotros .txtContenedor {
    width: 90%;
    margin-top: 0;
  }
}

.nosotros .txtContenedor .titulo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .nosotros .txtContenedor .titulo {
    width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nosotros .txtContenedor .titulo {
    width: 70%;
  }
}

.nosotros .txtContenedor .titulo h2 {
  font-size: 4rem;
  padding: 0 15px;
  border-left: 5px solid #fff;
  text-transform: uppercase;
}

.nosotros .txtContenedor .titulo h2 span {
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .nosotros .txtContenedor .titulo h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nosotros .txtContenedor .titulo h2 {
    font-size: 3.5rem;
  }
}

.nosotros .txtContenedor .descripcion {
  width: 60%;
}

@media screen and (max-width: 767px) {
  .nosotros .txtContenedor .descripcion {
    width: 90%;
  }
}

.nosotros .txtContenedor .descripcion animate__fadeInUp p {
  padding-left: 10px;
  font-size: 18px;
  text-align: justify;
}

@media screen and (max-width: 767px) {
  .nosotros .txtContenedor .descripcion animate__fadeInUp p {
    padding-left: 0;
  }
}

.nosotros .img1 {
  width: 33.3%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/img/img10.png");
}

@media screen and (max-width: 767px) {
  .nosotros .img1 {
    width: 100%;
    height: 250px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nosotros .img1 {
    background-size: contain;
  }
}

.nosotros .img2 {
  width: 33.3%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/img/img4.png");
}

@media screen and (max-width: 767px) {
  .nosotros .img2 {
    width: 100%;
    height: 250px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nosotros .img2 {
    background-size: contain;
  }
}

.nosotros .img3 {
  width: 33.3%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/img/img6.png");
}

@media screen and (max-width: 767px) {
  .nosotros .img3 {
    width: 100%;
    height: 250px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nosotros .img3 {
    background-size: contain;
  }
}

/* Productos */
.productos {
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-bottom: 50px;
}

.productos .titulo h2 {
  font-size: 3.7rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.productos .titulo h2 span {
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .productos .titulo h2 {
    font-size: 2rem;
  }
}

.productos .titulo p {
  margin: 0 0 30px 0;
  font-size: 1.9rem;
}

@media screen and (max-width: 767px) {
  .productos .titulo p {
    font-size: 1rem;
  }
}

.productos .catalogo {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .productos .catalogo {
    width: 95%;
  }
}

.productos .catalogo .contenedorCat {
  width: 22.5%;
  height: 300px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .productos .catalogo .contenedorCat {
    width: 50%;
  }
}

.productos .catalogo .contenedorCat .imgCat1 {
  width: 90%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  background-image: url("../assets/img/img1.png");
}

@media screen and (max-width: 767px) {
  .productos .catalogo .contenedorCat .imgCat1 {
    background-size: contain;
  }
}

.productos .catalogo .contenedorCat .imgCat2 {
  width: 90%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  background-image: url("../assets/img/img2.png");
}

@media screen and (max-width: 767px) {
  .productos .catalogo .contenedorCat .imgCat2 {
    background-size: contain;
  }
}

.productos .catalogo .contenedorCat .imgCat3 {
  width: 90%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  background-image: url("../assets/img/img3.png");
}

@media screen and (max-width: 767px) {
  .productos .catalogo .contenedorCat .imgCat3 {
    background-size: contain;
  }
}

.productos .catalogo .contenedorCat .imgCat4 {
  width: 90%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  background-image: url("../assets/img/img4.png");
}

@media screen and (max-width: 767px) {
  .productos .catalogo .contenedorCat .imgCat4 {
    background-size: contain;
  }
}

.productos .catalogo .contenedorCat .imgCat5 {
  width: 90%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  background-image: url("../assets/img/img5.png");
}

@media screen and (max-width: 767px) {
  .productos .catalogo .contenedorCat .imgCat5 {
    background-size: contain;
  }
}

.productos .catalogo .contenedorCat .imgCat6 {
  width: 90%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  background-image: url("../assets/img/img6.png");
}

@media screen and (max-width: 767px) {
  .productos .catalogo .contenedorCat .imgCat6 {
    background-size: contain;
  }
}

.productos .catalogo .contenedorCat .imgCat7 {
  width: 90%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  background-image: url("../assets/img/img7.png");
}

@media screen and (max-width: 767px) {
  .productos .catalogo .contenedorCat .imgCat7 {
    background-size: contain;
  }
}

.productos .catalogo .contenedorCat .imgCat8 {
  width: 90%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  background-image: url("../assets/img/img8.png");
}

@media screen and (max-width: 767px) {
  .productos .catalogo .contenedorCat .imgCat8 {
    background-size: contain;
  }
}

.productos .catalogo .contenedorCat .imgCat9 {
  width: 90%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  background-image: url("../assets/img/img9.png");
}

@media screen and (max-width: 767px) {
  .productos .catalogo .contenedorCat .imgCat9 {
    background-size: contain;
  }
}

.productos .catalogo .contenedorCat .imgCat10 {
  width: 90%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  background-image: url("../assets/img/img10.png");
}

@media screen and (max-width: 767px) {
  .productos .catalogo .contenedorCat .imgCat10 {
    background-size: contain;
  }
}

.productos .catalogo .contenedorCat .imgCat11 {
  width: 90%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  background-image: url("../assets/img/img11.png");
}

@media screen and (max-width: 767px) {
  .productos .catalogo .contenedorCat .imgCat11 {
    background-size: contain;
  }
}

.productos .catalogo .contenedorCat .imgCat12 {
  width: 90%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  background-image: url("../assets/img/img12.png");
}

@media screen and (max-width: 767px) {
  .productos .catalogo .contenedorCat .imgCat12 {
    background-size: contain;
  }
}

.productos .catalogo .contenedorCat h3 {
  margin: 10px 0 0 0;
  font-size: 20px;
}

.productos .catalogo .contenedorCat p {
  margin: 10px 0 0 0;
}

.productos .pdfDescarga {
  width: 30%;
  background: #292929;
  border-radius: 50px;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

.productos .pdfDescarga:hover {
  transform: scale(1.04);
}

@media screen and (max-width: 767px) {
  .productos .pdfDescarga {
    width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .productos .pdfDescarga {
    width: 70%;
  }
}

.productos .pdfDescarga a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.productos .pdfDescarga .imgPDF {
  width: 40px;
  height: 40px;
  background-image: url("../assets/icons/pdf-icon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .productos .pdfDescarga .imgPDF {
    width: 30px;
    height: 30px;
  }
}

.productos .pdfDescarga p {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
  .productos .pdfDescarga p {
    font-size: 14px;
  }
}

/* Formulario */
.formulario {
  width: 100%;
  height: auto;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-bottom: 50px;
}

.formulario .alertas {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .formulario .alertas {
    width: 95%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .formulario .alertas {
    width: 97%;
  }
}

.formulario .alertas .error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  border-radius: 10px;
  margin-top: -20px;
  transition: all 2s ease-out;
  opacity: 0;
}

.formulario .alertas .error i {
  font-size: 1.5rem;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .formulario .alertas .error i {
    padding-left: 20px;
    margin-right: 0;
  }
}

.formulario .alertas .error p {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}

@media screen and (max-width: 767px) {
  .formulario .alertas .error p {
    font-size: 12px;
  }
}

.formulario .titulo h2 {
  font-size: 3.7rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.formulario .titulo h2 span {
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .formulario .titulo h2 {
    font-size: 2rem;
  }
}

.formulario .titulo p {
  margin: 0 0 30px 0;
  font-size: 1.9rem;
}

@media screen and (max-width: 767px) {
  .formulario .titulo p {
    font-size: 1rem;
  }
}

.formulario .datos {
  width: 70%;
  height: 470px;
  display: flex;
}

@media screen and (max-width: 767px) {
  .formulario .datos {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .formulario .datos {
    width: 100%;
  }
}

.formulario .datos .form {
  width: 70%;
}

@media screen and (max-width: 767px) {
  .formulario .datos .form {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .formulario .datos .form {
    width: 60%;
  }
}

.formulario .datos .form input {
  width: 45%;
  height: 40px;
  margin: 10px;
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px;
  outline: none;
}

.formulario .datos .form input::placeholder {
  color: #fff;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .formulario .datos .form input {
    width: 93%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .formulario .datos .form input {
    width: 44%;
  }
}

.formulario .datos .form #mensaje {
  width: 93%;
  padding: 20px 0 15rem 10px;
}

.formulario .datos .form button {
  margin-top: 15px;
  padding: 10px 60px;
  background: #292929;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border: transparent;
  transition: all .4s ease;
  cursor: pointer;
  outline: none;
}

.formulario .datos .form button:hover {
  transform: scale(1.05);
  font-weight: 700;
}

.formulario .datos .textos {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 70px 0 0 50px;
}

@media screen and (max-width: 767px) {
  .formulario .datos .textos {
    padding: 50px 20px 0 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .formulario .datos .textos {
    width: 40%;
    padding: 70px 20px 0 20px;
  }
}

.formulario .datos .textos .ubicacion a,
.formulario .datos .textos .tel a,
.formulario .datos .textos .email a {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .formulario .datos .textos .ubicacion a,
  .formulario .datos .textos .tel a,
  .formulario .datos .textos .email a {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .formulario .datos .textos .ubicacion a,
  .formulario .datos .textos .tel a,
  .formulario .datos .textos .email a {
    margin-bottom: 10px;
  }
}

.formulario .datos .textos .imgUbi {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/icons/location.png");
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .formulario .datos .textos .imgUbi {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .formulario .datos .textos .imgUbi {
    margin-left: 20px;
  }
}

.formulario .datos .textos .imgTel {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/icons/phone.png");
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .formulario .datos .textos .imgTel {
    width: 20px;
    height: 20px;
  }
}

.formulario .datos .textos .imgEmail {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/icons/mail.png");
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .formulario .datos .textos .imgEmail {
    width: 20px;
    height: 20px;
  }
}

.footer {
  width: 100%;
  height: 70px;
  background: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer h2 {
  font-size: 20px;
  font-weight: 400;
}

.footer h2 a span {
  color: #fff;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .footer h2 {
    font-size: 16px;
  }
}

/*Pagina de Gracias*/
.gracias {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gracias {
    justify-content: center;
  }
}

.gracias .logo {
  width: 250px;
  height: 250px;
  background-image: url("../assets/icons/rocklag-logotipo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .gracias .logo {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gracias .logo {
    width: 350px;
    height: 350px;
  }
}

.gracias h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .gracias h1 {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gracias h1 {
    font-size: 3rem;
  }
}

.gracias p {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  .gracias p {
    font-size: .7rem;
  }
}

.gracias a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px 50px;
  border: 2px solid #fff;
  transition: all .4s ease-in-out;
  cursor: pointer;
  margin-top: 2rem;
}

.gracias a:hover {
  transform: scale(1.04);
}

.gracias a i {
  margin-right: 10px;
  font-size: 2rem;
}
/*# sourceMappingURL=estilos.css.map */