/*Fuente Nato*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/*variables*/

$primario: #000;
$secunadrio: #fff;
$terciario: #292929;

/*Adaptacion a dispositivos*/

$movil: 767px;
$tabletH: 768px;
$tabletV: 1024px;

/*Globales*/

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    color: $secunadrio;
    overflow-x: hidden;
    background: $primario;
    outline: none;
    scroll-behavior: smooth;
}


/*Estilos de la barra de scroll*/

body::-webkit-scrollbar {
    width: 15px;
    background: rgba(79, 76, 76, 0.616);
}

body::-webkit-scrollbar-thumb {
    background: #0d0f14;
    border-right: 2px solid #0d0f14;
    border: 1px solid #ccc;
    border-radius: 10px;
}


/*Mixin tamano y backgroun de los icons*/

@mixin sizeIcons {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @media screen and (max-width: $movil) {
        & {
            width: 20px;
            height: 20px;
        }
    }
}

@mixin imgCat {
    width: 90%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid $secunadrio;
    transition: all .3s ease-out;
    @media screen and (max-width: $movil) {
        & {
            background-size: contain;
        }
    }
    &:hover {
        transform: scale(1.04);
    }
}

@mixin titulosSecciones {
    font-size: 3.7rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    span {
        font-weight: 700;
    }
    @media screen and (max-width: $movil) {
        & {
            font-size: 2rem;
        }
    }
}

@mixin subtituloSecciones {
    margin: 0 0 30px 0;
    font-size: 1.9rem;
    @media screen and (max-width: $movil) {
        & {
            font-size: 1rem;
        }
    }
}


/*Header*/

.header {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: $secunadrio;
}

.contenido {
    width: 100%;
    padding: 20px 0 10px 0;
    @media screen and (max-width: $movil) {
        & {
            height: 100vh;
        }
    }
    .navegacion {
        display: flex;
        align-items: center;
        justify-content: space-around;
        z-index: 100;
        @media screen and (max-width: $movil) {
            & {
                width: 100%;
                background: $terciario;
                position: fixed;
                justify-content: space-between;
                padding: 0 15px 10px 15px;
                margin-top: -20px;
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
            }
        }
        .logo {
            width: 100px;
            height: 100px;
            background-image: url(../assets/icons/rocklag-logotipo.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            @media screen and (max-width: $movil) {
                & {
                    width: 70px;
                    height: 70px;
                }
            }
            @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
                & {
                    width: 100px;
                    height: 100px;
                }
            }
        }
        .enlaces {
            display: flex;
            margin-top: 40px;
            z-index: 10;
            @media screen and (max-width: $movil) {
                & {
                    position: fixed;
                    width: 100vw;
                    height: calc(100% -65px);
                    background: $terciario;
                    top: -100vh;
                    text-align: center;
                    transition: all .4s;
                    flex-direction: column;
                }
            }
            a {
                color: $secunadrio;
                font-weight: 400;
                font-size: 20px;
                font-weight: 400;
                margin-right: 30px;
                transition: all .4s ease-in-out;
                text-transform: uppercase;
                &:hover {
                    font-weight: 700;
                }
                @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
                    & {
                        font-size: 20px;
                    }
                }
                @media screen and (max-width: $movil) {
                    & {
                        margin: 50px 30px 0 0;
                        line-height: 30px;
                    }
                }
            }
        }
        .lenguaje {
            position: absolute;
            z-index: 10;
            right: 1%;
            top: 5%;
            display: flex;
            flex-direction: column;
            text-align: center;
            @media screen and(max-width: $movil) {
                & {
                    right: 3%;
                    top: 75%;
                    flex-direction: unset;
                }
            }
            a {
                font-size: 23px;
                margin-bottom: 5px;
                font-weight: bold;
            }
        }
        a.active {
            font-weight: bold;
        }
        .menMov {
            font-size: 2rem;
            color: $secunadrio;
            cursor: pointer;
            display: none;
            margin-top: 16px;
            @media screen and (max-width: $movil) {
                & {
                    display: block;
                }
            }
        }
        ul.show {
            top: 38px;
            width: 100%;
            left: 0;
            height: 100vh;
        }
    }
    .txt-agregados {
        position: absolute;
        left: 10%;
        top: 17%;
        color: $secunadrio;
        font-weight: bold;
    }
    .pieHeader {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
        @media screen and (max-width: $movil) {
            & {
                text-align: center;
                flex-direction: column;
            }
        }
        @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
            & {
                justify-content: space-around;
                margin-top: 50rem;
            }
        }
        .correo {
            margin-right: 7rem;
            @media screen and (max-width: $movil) {
                margin-right: 0;
            }
            @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
                & {
                    margin-right: 0;
                }
            }
        }
        .telefono {
            margin-right: 7rem;
            @media screen and (max-width: $movil) {
                margin-right: 0;
            }
            @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
                & {
                    margin-right: 0;
                }
            }
        }
        .correo a,
        .telefono a {
            display: flex;
            color: $secunadrio;
            font-size: 20px;
            font-weight: 400;
            @media screen and (max-width: $movil) {
                & {
                    font-size: 15px
                }
            }
            .iconCorreo {
                @include sizeIcons();
                margin: 19px 10px 0 0;
                background-image: url(../assets/icons/mail.png);
                @media screen and (max-width: $movil) {
                    & {
                        margin: 15px 10px 00;
                    }
                }
            }
            .iconTel {
                @include sizeIcons();
                margin: 19px 10px 0 0;
                background-image: url(../assets/icons/phone.png);
                @media screen and (max-width: $movil) {
                    & {
                        margin: 15px 10px 00;
                    }
                }
            }
        }
    }
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    video {
        min-width: 100%;
        min-height: 100%;
    }
}

.capa {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: $primario;
    z-index: 1;
    opacity: .25;
}

.contenido {
    z-index: 2;
}


/*Nosotros*/

.nosotros {
    width: 100%;
    height: auto;
    background: $primario;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    @media screen and (max-width: $movil) {
        & {
            flex-direction: column-reverse;
            padding: 10px 0;
        }
    }
    @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
        & {
            flex-direction: column-reverse;
            padding: 10px 0;
        }
    }
    .imgContenedor {
        width: 100%;
        display: flex;
        @media screen and (max-width: $movil) {
            & {
                flex-wrap: wrap;
                margin-bottom: 30px;
            }
        }
    }
    .imgNosotros {
        width: 100%;
        height: 400px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../assets/img/nosotros.png");
        @media screen and (max-width: $movil) {
            & {
                width: 100%;
                height: 850px;
                background-image: url("../assets/img/nosotros-mov.png");
            }
        }
        @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
            & {
                background-size: contain;
            }
        }
    }
    .txtContenedor {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        @media screen and (max-width: $movil) {
            & {
                width: 100%;
                flex-direction: column;
                margin-top: 0;
            }
        }
        @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
            & {
                width: 90%;
                margin-top: 0;
            }
        }
        .titulo {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: $movil) {
                & {
                    width: 90%;
                }
            }
            @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
                & {
                    width: 70%;
                }
            }
            h2 {
                font-size: 4rem;
                padding: 0 30px;
                border-left: 5px solid $secunadrio;
                text-transform: uppercase;
                span {
                    font-weight: 700;
                }
                @media screen and (max-width: $movil) {
                    & {
                        font-size: 3rem;
                    }
                }
                @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
                    & {
                        font-size: 3.5rem;
                    }
                }
            }
        }
        .descripcion {
            width: 50%;
            @media screen and (max-width: $movil) {
                & {
                    width: 90%;
                }
            }
            p {
                padding-left: 10px;
                font-size: 18px;
                text-align: justify;
                @media screen and (max-width: $movil) {
                    & {
                        padding-left: 0
                    }
                }
            }
        }
    }
}


/* Productos */

.productos {
    width: 100%;
    height: 100%;
    background: $primario;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-bottom: 50px;
    .titulo {
        h2 {
            @include titulosSecciones();
        }
        p {
            @include subtituloSecciones();
        }
    }
    .catalogo {
        width: 90%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: $movil) {
            & {
                width: 95%;
            }
        }
        .contenedorCat {
            width: 22.5%;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: $movil) {
                & {
                    width: 50%;
                    height: 250px
                }
            }
            .imgCat1 {
                @include imgCat();
                background-image: url("../assets/img/amarilloverona.png");
            }
            .imgCat2 {
                @include imgCat();
                background-image: url("../assets/img/blancococo.png");
            }
            .imgCat3 {
                @include imgCat();
                background-image: url("../assets/img/blancomexicano.png");
            }
            .imgCat4 {
                @include imgCat();
                background-image: url("../assets/img/cafeoscuro.png");
            }
            .imgCat5 {
                @include imgCat();
                background-image: url("../assets/img/calcitaamarilla.png");
            }
            .imgCat6 {
                @include imgCat();
                background-image: url("../assets/img/calcitacafe.png");
            }
            .imgCat7 {
                @include imgCat();
                background-image: url("../assets/img/Champagne.png");
            }
            .imgCat8 {
                @include imgCat();
                background-image: url("../assets/img/Geoda.png");
            }
            .imgCat9 {
                @include imgCat();
                background-image: url("../assets/img/persiancream.png");
            }
            .imgCat10 {
                @include imgCat();
                background-image: url("../assets/img/pirita.png");
            }
            .imgCat11 {
                @include imgCat();
                background-image: url("../assets/img/Rojoalicante.png");
            }
            .imgCat12 {
                @include imgCat();
                background-image: url("../assets/img/negrosolido.png");
            }
            h3 {
                margin: 10px 0 0 0;
                font-size: 20px;
                @media screen and(max-width: $movil) {
                    & {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .caja-info {
        width: 85%;
        height: 400px;
        display: flex;
        margin-top: 50px;
        flex-wrap: wrap;
        @media screen and(max-width: $movil) {
            & {
                margin-top: -5px;
            }
        }
    }
    .tabla {
        width: 40%;
        @media screen and(max-width: $movil) {
            & {
                width: 100%;
            }
        }
        .tabla-size {
            width: 100%;
            margin: 15px 0 30px 0;
            tr {
                text-align: justify;
                th,
                td {
                    border-bottom: 1px solid #fff;
                }
                td {
                    padding: 5px 0;
                }
                th {
                    font-size: 20px;
                }
            }
        }
    }
    .pdfDescarga {
        width: 60%;
        display: grid;
        align-items: center;
        padding-left: 150px;
        @media screen and(max-width: $movil) {
            & {
                width: 100%;
                padding-left: 10px;
            }
        }
        a {
            text-decoration: none;
            color: $secunadrio;
        }
        .img-pdf {
            width: 90%;
            height: 70px;
            background: $terciario;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .5s ease-in;
            cursor: pointer;
            @media screen and (max-width: $movil) {
                & {
                    width: 100%;
                }
            }
            &:hover {
                transform: scale(1.04);
            }
            .pdf {
                width: 30px;
                height: 40px;
                background-image: url("../assets/icons/pdf-icon.png");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin-right: 10px;
            }
        }
    }
}


/* Galeria */

.galeria {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
    .titulo {
        h2 {
            @include titulosSecciones();
        }
        p {
            @include subtituloSecciones();
        }
    }
    .contenedor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 150px;
        padding: 20px 50px;
        grid-gap: 8px;
        @media screen and(max-width: $movil) {
            & {
                grid-template-columns: repeat(2, 1fr);
                padding: 10px;
            }
        }
        .galeria-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .4s ease-in;
            &:hover {
                transform: scale(1.01);
            }
        }
        .caja-img {
            grid-row-start: span 2;
        }
        .caja-img:nth-child(2) {
            grid-row-start: span 3;
            grid-column-start: span 2;
        }
        .caja-img:nth-child(4) {
            grid-column-start: span 2;
            grid-row-start: span 3;
        }
        .caja-img:nth-child(9) {
            grid-column-start: span 2;
            grid-row-start: span 4;
        }
        @media screen and(max-width: $movil) {
            .caja-img {
                grid-row-start: span 1;
            }
            .caja-img:nth-child(1) {
                grid-column-start: span 2;
                grid-row-start: span 2;
            }
            .caja-img:nth-child(2) {
                grid-row-start: span 1;
                grid-column-start: span 2;
            }
            .caja-img:nth-child(4) {
                grid-row-start: span 2;
                grid-column-start: span 1;
            }
            .caja-img:nth-child(8) {
                grid-row-start: span 2;
                grid-column-start: span 2;
            }
            .caja-img:nth-child(9) {
                grid-column-start: span 2;
                grid-row-start: span 2;
            }
        }
    }
}


/* Formulario */

.formulario {
    width: 100%;
    height: auto;
    background: $primario;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-bottom: 50px;
    .alertas {
        width: 50%;
        @media screen and (max-width: $movil) {
            & {
                width: 95%;
            }
        }
        @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
            & {
                width: 97%;
            }
        }
        @mixin alertas {
            position: fixed;
            top: 15%;
            right: 1%;
            width: 35%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
            border-radius: 10px;
            transition: all 2s ease-out;
            opacity: 0;
            @media screen and (max-width: $movil) {
                & {
                    right: 0%;
                    width: 100%;
                }
            }
            i {
                font-size: 1.5rem;
                margin-right: 10px;
                @media screen and (max-width: $movil) {
                    & {
                        padding-left: 20px;
                        margin-right: 0;
                    }
                }
            }
            h6 {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 3px;
                margin-top: 30px;
                text-align: center;
                @media screen and (max-width: $movil) {
                    & {
                        letter-spacing: 0;
                        font-size: 12px;
                        margin-left: 10px
                    }
                }
            }
        }
        .error {
            @include alertas();
        }
        .exito {
            @include alertas();
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
        }
    }
    .titulo {
        h2 {
            @include titulosSecciones();
        }
        p {
            @include subtituloSecciones();
        }
    }
    .datos {
        width: 70%;
        height: 470px;
        display: flex;
        @media screen and (max-width: $movil) {
            & {
                flex-direction: column;
                height: auto;
                width: 100%;
            }
        }
        @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
            & {
                width: 100%;
            }
        }
        .form {
            width: 70%;
            @media screen and (max-width: $movil) {
                & {
                    width: 100%;
                }
            }
            @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
                & {
                    width: 60%;
                }
            }
            input {
                width: 45%;
                height: 40px;
                margin: 10px;
                background: $primario;
                color: $secunadrio;
                border: 2px solid $secunadrio;
                padding: 10px;
                outline: none;
                &::placeholder {
                    color: $secunadrio;
                    text-transform: uppercase;
                }
                @media screen and (max-width: $movil) {
                    & {
                        width: 93%;
                    }
                }
                @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
                    & {
                        width: 44%;
                    }
                }
            }
            #mensaje {
                width: 93%;
                padding: 20px 0 15rem 10px;
            }
            button {
                margin-top: 15px;
                padding: 10px 60px;
                background: $terciario;
                color: $secunadrio;
                font-size: 16px;
                font-weight: 400;
                border: transparent;
                transition: all .4s ease;
                cursor: pointer;
                outline: none;
                &:hover {
                    transform: scale(1.05);
                    font-weight: 700;
                }
            }
        }
        .textos {
            width: 30%;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            padding: 65px 0 70px 10px;
            @media screen and (max-width: $movil) {
                & {
                    padding: 40px 20px 0 20px;
                    width: 100%;
                    align-items: flex-start;
                    justify-content: flex-start;
                }
            }
            @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
                & {
                    width: 40%;
                    padding: 70px 20px 0 20px;
                }
            }
            .ubicacion a,
            .tel a,
            .email a {
                width: 90%;
                display: flex;
                align-items: center;
                text-align: justify;
                margin-bottom: 20px;
                color: $secunadrio;
                transition: all .4s ease-in-out;
                @media screen and (max-width: $movil) {
                    & {
                        width: 100%;
                        margin-bottom: 0;
                    }
                }
                @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
                    & {
                        margin-bottom: 10px;
                    }
                }
                i {
                    font-size: 35px;
                    color: $secunadrio;
                    @media screen and (max-width: $movil) {
                        & {
                            font-size: 25px
                        }
                    }
                }
            }
            .imgUbi {
                @include sizeIcons();
                background-image: url("../assets/icons/location.png");
                width: 40px;
                height: 40px;
                margin-right: 14px;
                @media screen and (max-width: $movil) {
                    & {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
            .imgTel {
                @include sizeIcons();
                background-image: url("../assets/icons/phone.png");
                margin-right: 10px;
            }
            .imgEmail {
                @include sizeIcons();
                background-image: url("../assets/icons/mail.png");
                margin-right: 10px;
            }
        }
    }
}

.footer {
    width: 100%;
    height: 70px;
    background: $terciario;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
        font-size: 16px;
        font-weight: 400;
        a span {
            color: $secunadrio;
            font-weight: 700;
        }
    }
}


/*Pagina de Gracias*/

.gracias {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
        & {
            justify-content: center;
        }
    }
    .logo {
        width: 250px;
        height: 250px;
        background-image: url("../assets/icons/rocklag-logotipo.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        @media screen and (max-width: $movil) {
            & {
                width: 150px;
                height: 150px;
            }
        }
        @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
            & {
                width: 350px;
                height: 350px;
            }
        }
    }
    h1 {
        font-size: 3.5rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 0;
        @media screen and (max-width: $movil) {
            & {
                font-size: 1.7rem;
            }
        }
        @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
            & {
                font-size: 3rem;
            }
        }
    }
    p {
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        @media screen and (max-width: $movil) {
            & {
                font-size: .7rem;
            }
        }
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $secunadrio;
        padding: 10px 50px;
        border: 2px solid $secunadrio;
        transition: all .4s ease-in-out;
        cursor: pointer;
        margin-top: 2rem;
        &:hover {
            transform: scale(1.04);
        }
        i {
            margin-right: 10px;
            font-size: 2rem;
        }
    }
}